* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #101010;
  --hover: #2c2e38;
  --border: #40424c;
  --theme: #c86004;
  --font: #ebebeb;
}

.App {
  font-family: Montserrat;
  background: var(--background);
  color: var(--font);
}
