.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-menu-items {
  display: flex;
  width: fit-content;
  gap: 16px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 30px;
  background: none;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
  color: #ebebeb;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-menu-items:hover {
  color: #ebebeb;
  text-decoration: none;
  background: #2c2e38;
  border: 2px solid #40424c;
}

.nav-icon {
  font-size: 20px;
}

.profile {
  display: flex;
  gap: 10px;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  color: #ebebeb;
  background: #2c2e38;
  border: 1px solid #40424c;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s;
}

.profile:hover {
  color: #ebebeb;
  text-decoration: none;
  background: #2c2e38;
  border: 1px solid #ebebeb;
}
